In [1]:
import pandas as pd

## merge_orderd

In [6]:
gdp = pd.read_csv('../Data/JoiningData/WorldBank_GDP.csv')
gdp

     Country Name Country Code     Indicator Name  Year           GDP
0           China          CHN  GDP (current US$)  2010  6.087160e+12
1         Germany          DEU  GDP (current US$)  2010  3.417090e+12
2           Japan          JPN  GDP (current US$)  2010  5.700100e+12
3   United States          USA  GDP (current US$)  2010  1.499210e+13
4           China          CHN  GDP (current US$)  2011  7.551500e+12
5         Germany          DEU  GDP (current US$)  2011  3.757700e+12
6           Japan          JPN  GDP (current US$)  2011  6.157460e+12
7   United States          USA  GDP (current US$)  2011  1.554260e+13
8           China          CHN  GDP (current US$)  2012  8.532230e+12
9         Germany          DEU  GDP (current US$)  2012  3.543980e+12
10          Japan          JPN  GDP (current US$)  2012  6.203210e+12
11  United States          USA  GDP (current US$)  2012  1.619700e+13
12          China          CHN  GDP (current US$)  2012  8.532230e+12
13        Germany          DEU  GDP (current US$)  2012  3.543980e+12
14          Japan          JPN  GDP (current US$)  2012  6.203210e+12
15  United States          USA  GDP (current US$)  2012  1.619700e+13
16          China          CHN  GDP (current US$)  2013  9.570410e+12
17        Germany          DEU  GDP (current US$)  2013  3.752510e+12
18          Japan          JPN  GDP (current US$)  2013  5.155720e+12
19  United States          USA  GDP (current US$)  2013  1.678480e+13
20          China          CHN  GDP (current US$)  2014  1.043850e+13
21        Germany          DEU  GDP (current US$)  2014  3.898730e+12
22          Japan          JPN  GDP (current US$)  2014  4.850410e+12
23  United States          USA  GDP (current US$)  2014  1.752170e+13
24          China          CHN  GDP (current US$)  2015  1.101550e+13
25        Germany          DEU  GDP (current US$)  2015  3.381390e+12
26          Japan          JPN  GDP (current US$)  2015  4.389480e+12
27  United States          USA  GDP (current US$)  2015  1.821930e+13
28          China          CHN  GDP (current US$)  2016  1.113790e+13
29        Germany          DEU  GDP (current US$)  2016  3.495160e+12
30          Japan          JPN  GDP (current US$)  2016  4.926670e+12
31  United States          USA  GDP (current US$)  2016  1.870720e+13
32          China          CHN  GDP (current US$)  2017  1.214350e+13
33        Germany          DEU  GDP (current US$)  2017  3.693200e+12
34          Japan          JPN  GDP (current US$)  2017  4.859950e+12
35  United States          USA  GDP (current US$)  2017  1.948540e+13
36          China          CHN  GDP (current US$)  2018  1.360820e+13
37        Germany          DEU  GDP (current US$)  2018  3.996760e+12
38          Japan          JPN  GDP (current US$)  2018  4.970920e+12
39  United States          USA  GDP (current US$)  2018  2.049410e+13

In [7]:
sp500 = pd.read_csv('../Data/JoiningData/S&P500.csv')
sp500

   Date  Returns
0  2008   -38.49
1  2009    23.45
2  2010    12.78
3  2011     0.00
4  2012    13.41
5  2014    11.39
6  2015    -0.73
7  2016     9.54
8  2017    19.42
9  2013    29.60

In [10]:
gdp_sp500 = pd.merge_ordered(gdp,sp500,left_on='Year',right_on='Date',how='left')
gdp_sp500

,Country Name,Country Code,Indicator Name,Year,GDP,Date,Returns
0,China,CHN,GDP (current US$),2010,6.087160e+12,2010.0,12.78
1,Germany,DEU,GDP (current US$),2010,3.417090e+12,2010.0,12.78
2,Japan,JPN,GDP (current US$),2010,5.700100e+12,2010.0,12.78
3,United States,USA,GDP (current US$),2010,1.499210e+13,2010.0,12.78
4,China,CHN,GDP (current US$),2011,7.551500e+12,2011.0,0.00
5,Germany,DEU,GDP (current US$),2011,3.757700e+12,2011.0,0.00
6,Japan,JPN,GDP (current US$),2011,6.157460e+12,2011.0,0.00
7,United States,USA,GDP (current US$),2011,1.554260e+13,2011.0,0.00
8,China,CHN,GDP (current US$),2012,8.532230e+12,2012.0,13.41
9,Germany,DEU,GDP (current US$),2012,3.543980e+12,2012.0,13.41
10,Japan,JPN,GDP (current US$),2012,6.203210e+12,2012.0,13.41
11,United States,USA,GDP (current US$),2012,1.619700e+13,2012.0,13.41
12,China,CHN,GDP (current US$),2012,8.532230e+12,2012.0,13.41
13,Germany,DEU,GDP (current US$),2012,3.543980e+12,2012.0,13.41
14,Japan,JPN,GDP (current US$),2012,6.203210e+12,2012.0,13.41
15,United States,USA,GDP (current US$),2012,1.619700e+13,2012.0,13.41
16,China,CHN,GDP (current US$),2013,9.570410e+12,2013.0,29.60
17,Germany,DEU,GDP (current US$),2013,3.752510e+12,2013.0,29.60
18,Japan,JPN,GDP (current US$),2013,5.155720e+12,2013.0,29.60
19,United States,USA,GDP (current US$),2013,1.678480e+13,2013.0,29.60
20,China,CHN,GDP (current US$),2014,1.043850e+13,2014.0,11.39
21,Germany,DEU,GDP (current US$),2014,3.898730e+12,2014.0,11.39
22,Japan,JPN,GDP (current US$),2014,4.850410e+12,2014.0,11.39
23,United States,USA,GDP (current US$),2014,1.752170e+13,2014.0,11.39
24,China,CHN,GDP (current US$),2015,1.101550e+13,2015.0,-0.73
25,Germany,DEU,GDP (current US$),2015,3.381390e+12,2015.0,-0.73
26,Japan,JPN,GDP (current US$),2015,4.389480e+12,2015.0,-0.73
27,United States,USA,GDP (current US$),2015,1.821930e+13,2015.0,-0.73
28,China,CHN,GDP (current US$),2016,1.113790e+13,2016.0,9.54
29,Germany,DEU,GDP (current US$),2016,3.495160e+12,2016.0,9.54
30,Japan,JPN,GDP (current US$),2016,4.926670e+12,2016.0,9.54
31,United States,USA,GDP (current US$),2016,1.870720e+13,2016.0,9.54
32,China,CHN,GDP (current US$),2017,1.214350e+13,2017.0,19.42
33,Germany,DEU,GDP (current US$),2017,3.693200e+12,2017.0,19.42
34,Japan,JPN,GDP (current US$),2017,4.859950e+12,2017.0,19.42
35,United States,USA,GDP (current US$),2017,1.948540e+13,2017.0,19.42
36,China,CHN,GDP (current US$),2018,1.360820e+13,NaN,NaN
37,Germany,DEU,GDP (current US$),2018,3.996760e+12,NaN,NaN
38,Japan,JPN,GDP (current US$),2018,4.970920e+12,NaN,NaN
39,United States,USA,GDP (current US$),2018,2.049410e+13,NaN,NaN

In [11]:
gdp_sp500 = pd.merge_ordered(gdp,sp500,left_on='Year',right_on='Date',how='left',fill_method='ffill')
gdp_sp500

,Country Name,Country Code,Indicator Name,Year,GDP,Date,Returns
0,China,CHN,GDP (current US$),2010,6.087160e+12,2010,12.78
1,Germany,DEU,GDP (current US$),2010,3.417090e+12,2010,12.78
2,Japan,JPN,GDP (current US$),2010,5.700100e+12,2010,12.78
3,United States,USA,GDP (current US$),2010,1.499210e+13,2010,12.78
4,China,CHN,GDP (current US$),2011,7.551500e+12,2011,0.00
5,Germany,DEU,GDP (current US$),2011,3.757700e+12,2011,0.00
6,Japan,JPN,GDP (current US$),2011,6.157460e+12,2011,0.00
7,United States,USA,GDP (current US$),2011,1.554260e+13,2011,0.00
8,China,CHN,GDP (current US$),2012,8.532230e+12,2012,13.41
9,Germany,DEU,GDP (current US$),2012,3.543980e+12,2012,13.41
10,Japan,JPN,GDP (current US$),2012,6.203210e+12,2012,13.41
11,United States,USA,GDP (current US$),2012,1.619700e+13,2012,13.41
12,China,CHN,GDP (current US$),2012,8.532230e+12,2012,13.41
13,Germany,DEU,GDP (current US$),2012,3.543980e+12,2012,13.41
14,Japan,JPN,GDP (current US$),2012,6.203210e+12,2012,13.41
15,United States,USA,GDP (current US$),2012,1.619700e+13,2012,13.41
16,China,CHN,GDP (current US$),2013,9.570410e+12,2013,29.60
17,Germany,DEU,GDP (current US$),2013,3.752510e+12,2013,29.60
18,Japan,JPN,GDP (current US$),2013,5.155720e+12,2013,29.60
19,United States,USA,GDP (current US$),2013,1.678480e+13,2013,29.60
20,China,CHN,GDP (current US$),2014,1.043850e+13,2014,11.39
21,Germany,DEU,GDP (current US$),2014,3.898730e+12,2014,11.39
22,Japan,JPN,GDP (current US$),2014,4.850410e+12,2014,11.39
23,United States,USA,GDP (current US$),2014,1.752170e+13,2014,11.39
24,China,CHN,GDP (current US$),2015,1.101550e+13,2015,-0.73
25,Germany,DEU,GDP (current US$),2015,3.381390e+12,2015,-0.73
26,Japan,JPN,GDP (current US$),2015,4.389480e+12,2015,-0.73
27,United States,USA,GDP (current US$),2015,1.821930e+13,2015,-0.73
28,China,CHN,GDP (current US$),2016,1.113790e+13,2016,9.54
29,Germany,DEU,GDP (current US$),2016,3.495160e+12,2016,9.54
30,Japan,JPN,GDP (current US$),2016,4.926670e+12,2016,9.54
31,United States,USA,GDP (current US$),2016,1.870720e+13,2016,9.54
32,China,CHN,GDP (current US$),2017,1.214350e+13,2017,19.42
33,Germany,DEU,GDP (current US$),2017,3.693200e+12,2017,19.42
34,Japan,JPN,GDP (current US$),2017,4.859950e+12,2017,19.42
35,United States,USA,GDP (current US$),2017,1.948540e+13,2017,19.42
36,China,CHN,GDP (current US$),2018,1.360820e+13,2017,19.42
37,Germany,DEU,GDP (current US$),2018,3.996760e+12,2017,19.42
38,Japan,JPN,GDP (current US$),2018,4.970920e+12,2017,19.42
39,United States,USA,GDP (current US$),2018,2.049410e+13,2017,19.42

In [15]:
gdp_sp500[['GDP','Returns']].corr()

              GDP   Returns
GDP      1.000000  0.040669
Returns  0.040669  1.000000

In [16]:
pop = pd.read_csv('../Data/JoiningData/WorldBank_POP.csv')
pop

      Country Name Country Code     Indicator Name  Year         Pop
0            Aruba          ABW  Population, total  2010    101669.0
1      Afghanistan          AFG  Population, total  2010  29185507.0
2           Angola          AGO  Population, total  2010  23356246.0
3          Albania          ALB  Population, total  2010   2913021.0
4          Andorra          AND  Population, total  2010     84449.0
...            ...          ...                ...   ...         ...
2635        Kosovo          XKX  Population, total  2018   1845300.0
2636   Yemen, Rep.          YEM  Population, total  2018  28498687.0
2637  South Africa          ZAF  Population, total  2018  57779622.0
2638        Zambia          ZMB  Population, total  2018  17351822.0
2639      Zimbabwe          ZWE  Population, total  2018  14439018.0

[2640 rows x 5 columns]

In [19]:
ctry_date = pd.merge_ordered(gdp,pop,on=['Year','Country Name'],fill_method='ffill')
ctry_date

,Country Name,Country Code_x,Indicator Name_x,Year,GDP,Country Code_y,Indicator Name_y,Pop
0,Afghanistan,NaN,NaN,2010,NaN,AFG,"Population, total",2.918551e+07
1,Albania,NaN,NaN,2010,NaN,ALB,"Population, total",2.913021e+06
2,Algeria,NaN,NaN,2010,NaN,DZA,"Population, total",3.597746e+07
3,American Samoa,NaN,NaN,2010,NaN,ASM,"Population, total",5.607900e+04
4,Andorra,NaN,NaN,2010,NaN,AND,"Population, total",8.444900e+04
...,...,...,...,...,...,...,...,...
2643,West Bank and Gaza,USA,GDP (current US$),2018,2.049410e+13,PSE,"Population, total",4.569087e+06
2644,World,USA,GDP (current US$),2018,2.049410e+13,WLD,"Population, total",7.594270e+09
2645,"Yemen, Rep.",USA,GDP (current US$),2018,2.049410e+13,YEM,"Population, total",2.849869e+07
2646,Zambia,USA,GDP (current US$),2018,2.049410e+13,ZMB,"Population, total",1.735182e+07
2647,Zimbabwe,USA,GDP (current US$),2018,2.049410e+13,ZWE,"Population, total",1.443902e+07

## merge_asof()
1. simmilar to merge_ordered left join
2. Merged on the nearset key columns and not exact matches. Merged on columns must be sorted.

In [22]:
df = pd.merge_asof(gdp,pop,on='Year')
df

,Country Name_x,Country Code_x,Indicator Name_x,Year,GDP,Country Name_y,Country Code_y,Indicator Name_y,Pop
0,China,CHN,GDP (current US$),2010,6.087160e+12,Zimbabwe,ZWE,"Population, total",12697723.0
1,Germany,DEU,GDP (current US$),2010,3.417090e+12,Zimbabwe,ZWE,"Population, total",12697723.0
2,Japan,JPN,GDP (current US$),2010,5.700100e+12,Zimbabwe,ZWE,"Population, total",12697723.0
3,United States,USA,GDP (current US$),2010,1.499210e+13,Zimbabwe,ZWE,"Population, total",12697723.0
4,China,CHN,GDP (current US$),2011,7.551500e+12,Zimbabwe,ZWE,"Population, total",12894316.0
5,Germany,DEU,GDP (current US$),2011,3.757700e+12,Zimbabwe,ZWE,"Population, total",12894316.0
6,Japan,JPN,GDP (current US$),2011,6.157460e+12,Zimbabwe,ZWE,"Population, total",12894316.0
7,United States,USA,GDP (current US$),2011,1.554260e+13,Zimbabwe,ZWE,"Population, total",12894316.0
8,China,CHN,GDP (current US$),2012,8.532230e+12,Zimbabwe,ZWE,"Population, total",13115131.0
9,Germany,DEU,GDP (current US$),2012,3.543980e+12,Zimbabwe,ZWE,"Population, total",13115131.0
10,Japan,JPN,GDP (current US$),2012,6.203210e+12,Zimbabwe,ZWE,"Population, total",13115131.0
11,United States,USA,GDP (current US$),2012,1.619700e+13,Zimbabwe,ZWE,"Population, total",13115131.0
12,China,CHN,GDP (current US$),2012,8.532230e+12,Zimbabwe,ZWE,"Population, total",13115131.0
13,Germany,DEU,GDP (current US$),2012,3.543980e+12,Zimbabwe,ZWE,"Population, total",13115131.0
14,Japan,JPN,GDP (current US$),2012,6.203210e+12,Zimbabwe,ZWE,"Population, total",13115131.0
15,United States,USA,GDP (current US$),2012,1.619700e+13,Zimbabwe,ZWE,"Population, total",13115131.0
16,China,CHN,GDP (current US$),2013,9.570410e+12,Zimbabwe,ZWE,"Population, total",13350356.0
17,Germany,DEU,GDP (current US$),2013,3.752510e+12,Zimbabwe,ZWE,"Population, total",13350356.0
18,Japan,JPN,GDP (current US$),2013,5.155720e+12,Zimbabwe,ZWE,"Population, total",13350356.0
19,United States,USA,GDP (current US$),2013,1.678480e+13,Zimbabwe,ZWE,"Population, total",13350356.0
20,China,CHN,GDP (current US$),2014,1.043850e+13,Zimbabwe,ZWE,"Population, total",13586681.0
21,Germany,DEU,GDP (current US$),2014,3.898730e+12,Zimbabwe,ZWE,"Population, total",13586681.0
22,Japan,JPN,GDP (current US$),2014,4.850410e+12,Zimbabwe,ZWE,"Population, total",13586681.0
23,United States,USA,GDP (current US$),2014,1.752170e+13,Zimbabwe,ZWE,"Population, total",13586681.0
24,China,CHN,GDP (current US$),2015,1.101550e+13,Zimbabwe,ZWE,"Population, total",13814629.0
25,Germany,DEU,GDP (current US$),2015,3.381390e+12,Zimbabwe,ZWE,"Population, total",13814629.0
26,Japan,JPN,GDP (current US$),2015,4.389480e+12,Zimbabwe,ZWE,"Population, total",13814629.0
27,United States,USA,GDP (current US$),2015,1.821930e+13,Zimbabwe,ZWE,"Population, total",13814629.0
28,China,CHN,GDP (current US$),2016,1.113790e+13,Zimbabwe,ZWE,"Population, total",14030390.0
29,Germany,DEU,GDP (current US$),2016,3.495160e+12,Zimbabwe,ZWE,"Population, total",14030390.0
30,Japan,JPN,GDP (current US$),2016,4.926670e+12,Zimbabwe,ZWE,"Population, total",14030390.0
31,United States,USA,GDP (current US$),2016,1.870720e+13,Zimbabwe,ZWE,"Population, total",14030390.0
32,China,CHN,GDP (current US$),2017,1.214350e+13,Zimbabwe,ZWE,"Population, total",14236745.0
33,Germany,DEU,GDP (current US$),2017,3.693200e+12,Zimbabwe,ZWE,"Population, total",14236745.0
34,Japan,JPN,GDP (current US$),2017,4.859950e+12,Zimbabwe,ZWE,"Population, total",14236745.0
35,United States,USA,GDP (current US$),2017,1.948540e+13,Zimbabwe,ZWE,"Population, total",14236745.0
36,China,CHN,GDP (current US$),2018,1.360820e+13,Zimbabwe,ZWE,"Population, total",14439018.0
37,Germany,DEU,GDP (current US$),2018,3.996760e+12,Zimbabwe,ZWE,"Population, total",14439018.0
38,Japan,JPN,GDP (current US$),2018,4.970920e+12,Zimbabwe,ZWE,"Population, total",14439018.0
39,United States,USA,GDP (current US$),2018,2.049410e+13,Zimbabwe,ZWE,"Population, total",14439018.0

In [25]:
df['GDP'].diff()

0              NaN
1    -2.670070e+12
2     2.283010e+12
3     9.292000e+12
4    -7.440600e+12
5    -3.793800e+12
6     2.399760e+12
7     9.385140e+12
8    -7.010370e+12
9    -4.988250e+12
10    2.659230e+12
11    9.993790e+12
12   -7.664770e+12
13   -4.988250e+12
14    2.659230e+12
15    9.993790e+12
16   -6.626590e+12
17   -5.817900e+12
18    1.403210e+12
19    1.162908e+13
20   -6.346300e+12
21   -6.539770e+12
22    9.516800e+11
23    1.267129e+13
24   -6.506200e+12
25   -7.634110e+12
26    1.008090e+12
27    1.382982e+13
28   -7.081400e+12
29   -7.642740e+12
30    1.431510e+12
31    1.378053e+13
32   -6.563700e+12
33   -8.450300e+12
34    1.166750e+12
35    1.462545e+13
36   -5.877200e+12
37   -9.611440e+12
38    9.741600e+11
39    1.552318e+13
Name: GDP, dtype: float64

## Selecting data with .query()
1. Accepts an input string used to determine which rows are returned
2. input string is simmilar to where clause in SQL statement

In [27]:
df.query('Year >2015')

,Country Name_x,Country Code_x,Indicator Name_x,Year,GDP,Country Name_y,Country Code_y,Indicator Name_y,Pop
28,China,CHN,GDP (current US$),2016,1.113790e+13,Zimbabwe,ZWE,"Population, total",14030390.0
29,Germany,DEU,GDP (current US$),2016,3.495160e+12,Zimbabwe,ZWE,"Population, total",14030390.0
30,Japan,JPN,GDP (current US$),2016,4.926670e+12,Zimbabwe,ZWE,"Population, total",14030390.0
31,United States,USA,GDP (current US$),2016,1.870720e+13,Zimbabwe,ZWE,"Population, total",14030390.0
32,China,CHN,GDP (current US$),2017,1.214350e+13,Zimbabwe,ZWE,"Population, total",14236745.0
33,Germany,DEU,GDP (current US$),2017,3.693200e+12,Zimbabwe,ZWE,"Population, total",14236745.0
34,Japan,JPN,GDP (current US$),2017,4.859950e+12,Zimbabwe,ZWE,"Population, total",14236745.0
35,United States,USA,GDP (current US$),2017,1.948540e+13,Zimbabwe,ZWE,"Population, total",14236745.0
36,China,CHN,GDP (current US$),2018,1.360820e+13,Zimbabwe,ZWE,"Population, total",14439018.0
37,Germany,DEU,GDP (current US$),2018,3.996760e+12,Zimbabwe,ZWE,"Population, total",14439018.0
38,Japan,JPN,GDP (current US$),2018,4.970920e+12,Zimbabwe,ZWE,"Population, total",14439018.0
39,United States,USA,GDP (current US$),2018,2.049410e+13,Zimbabwe,ZWE,"Population, total",14439018.0

## Reshaping data with .melt()
Use to convert wide format to long format beacuse long format is more accessible for computers to work with

In [29]:
df = {
    'country':['Brazil','Canada','France','India'],
    'indicator':['Inflation %','Inflation %','Inflation %','Inflation %'],
    '2017':[3.45,1.60,1.03,2.49],
    '2018':[3.66,2.27,1.85,4.86],
    '2019':[3.73,1.95,1.11,7.66]
}

inflation = pd.DataFrame(df)
inflation

  country    indicator  2017  2018  2019
0  Brazil  Inflation %  3.45  3.66  3.73
1  Canada  Inflation %  1.60  2.27  1.95
2  France  Inflation %  1.03  1.85  1.11
3   India  Inflation %  2.49  4.86  7.66

In [30]:
inflation.melt(id_vars=['country','indicator'],value_vars=['2017','2018','2019'],var_name='year',value_name='annual')

   country    indicator  year  annual
0   Brazil  Inflation %  2017    3.45
1   Canada  Inflation %  2017    1.60
2   France  Inflation %  2017    1.03
3    India  Inflation %  2017    2.49
4   Brazil  Inflation %  2018    3.66
5   Canada  Inflation %  2018    2.27
6   France  Inflation %  2018    1.85
7    India  Inflation %  2018    4.86
8   Brazil  Inflation %  2019    3.73
9   Canada  Inflation %  2019    1.95
10  France  Inflation %  2019    1.11
11   India  Inflation %  2019    7.66